{% extends 'base.html.twig' %}

{% block title %}
	Checkout
{% endblock %}

{% block body %}


<div class="container">
  {% if cart.items.count > 0 %}
	<h1 class='mt-4'>
		Checkout
	</h1>
	<div
		class="row">
		<!-- Identification Form !-->

		{% if app.user %}
			<section class=" col-md-8 mt-4 ">
				<div class='row'>
					<div class=" justify-content-center align-items-center">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title">
									{{app.user.name}}
								</h4>
								<h6 class="card-subtitle mb-2 text-muted">
									{{app.user.lastname}}
								</h6>
								<p class="card-text">
									{{app.user.phoneNumber}}
								</p>
								<p class="card-text">
									{{app.user.birthdate | date("d/m/Y")}}
								</p>

							</div>
						</div>
					</div>
					{% if app.user.addresses is empty %}
						<div class="alert alert-dismissible alert-light  mt-4">
							<h4 href="" class="alert-link">
								<strong>
									Add your address.
								</strong>
							</h4>
							<div>
								<div>
									{{form(form)}}
									</div>

									<input type="hidden" name="{{ path('checkout') }}" value="/account">

								</div>
							</div>

						{% else %}


							<h4 class='mt-4'>
								Choice your Delivery Address
							</h4>
							{{ form_start(orderAddress)}}
							{{ form_widget(orderAddress.address)}}{% endif %}
							
	<div class="alert alert-dismissible alert-light  mt-2">
				<a href="{{path('address_new')}}" class="alert-link">
					<strong>
						Add new Delivery address.
					</strong>
				</a>
</div>
				<div class="d-grid gap-2 col-8 my-4">
						{{ form_widget(orderAddress.submit)}}
						{{ form_end(orderAddress) }}
					
						</div>

						</section>
					{% endif %}

					<!-- Order Resume-->
					<section class=" col-md-4 mt-4 ">

						<div class="card ">
							<div class="card-header bg-primary text-white d-flex  gap-2 align-items-center ">
								<h5>
									Order Resume
								</h5>
							</div>
							<ul class="list-group list-group-flush">

								{% for item in cart.items %}
									<li class="list-group-item d-flex">
										<div class="flex-fill">
											<img class=' img img-fluid w-75' src="https://via.placeholder.com/200x150" width="64" alt="Product image">
										</div>
										<div class="flex-fill mr-2">
											<h5 class="mt-0 mb-0">
												{{ item.product.name }}
											</h5>
											<small>
												{{ item.product.description[:50] }}
												...
											</small>
											<p>
												{{item.quantity}}
											</p>
											<div class="flex-fill mr-2 text-right">
												<b>
													{{ item.product.price | format_currency('EUR')}}
												</b>
											</div>


										</li>
									{% endfor %}

								</ul>
								<ul class="list-group list-group-flush">
									<li class="list-group-item d-flex justify-content-between">
										<div>
											<b>
												Total
											</b>
										</div>
										<span>
											<b>
												{{ cart.total }}
												€
											</b>
										</span>
									</li>
								</ul>
							</div>
						</section>
						 {% else %}
            <div class="alert alert-info mt-4">
                Your cart is empty. Go to the <a href="{{ path('home') }}">product list</a>.
            </div>
			{% endif %}
					</div>
					
					<script src='/js/apiCall.js'></script>
						{% endblock %}
