{% extends "base.html.twig" %}
{% block title %}
	Inscription
{% endblock %}
{% block body %}
	<div class='container'>
		<h1 class="mt-4">
			Formulaire d'inscription
		</h1>
		{{form_start(form, { 'attr': { 'id' : 'registration'}})}}
		<form class="form-group">
			{{form_row(form.email)}}
			<span id='emailError'></span>
			<div class="row">
				<div class="col">
					{{form_row(form.lastname)}}
					<span class="" id="lastNameError"></span>
				</div>
				<div class="col">
					{{form_row(form.name)}}
					<span class="" id="nameError"></span>
				</div>
			</div>
			<div class="row">
				<div class="col">
					{{form_row(form.birthdate)}}
					<span class="" id="birthError"></span>
				</div>
				<div class="col">
					{{form_row(form.phoneNumber)}}
					<span class='' id="phoneError"></span>
				</div>
			</div>

			{{form_row(form.plainPassword)}}
			<span id="passwordError"></span>
			<span class='' id="passConfError"></span>
			{{form_row(form.submit)}}
			{{form_end(form)}}
		</form>

	</div>
	<script src="/js/RegistrationForm.js"></script>
{% endblock %}
