{% extends 'base.html.twig' %}

{% block title %}
	Category
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="/css/titre.css">
	{% for message in app.flashes('danger') %}
		<div class="alert alert-danger mt-4">
			{{ message }}
		</div>
	{% endfor %}

	<!--- Breadcrumbs-->
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a class='text-decoration-none text-dark' href='{{ path('home') }}'>
					Accueil
				</a>
			</li>
			<li class="breadcrumb-item">
				Categories
			</li>
		</ol>
	</nav>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success mt-4">
			{{ message }}
		</div>
	{% endfor %}

	<!--- Cards -->
	<div class='container '>
		<h1 class='text-center' id='categories'>
			Categories
		</h1>
		<div class='row row-cols-lg-3 row-cols-2  g-0 mt-4 align-items-center justify-content-center'>
			{% for category in categories %}

				{% if category.childs == null  %}
					<a style='col-12 col-md-6' href="{{ path('category_subcategories',{'category': category.id })}}">
						<div class="card rounded-0 border-primary border-top-0 border-end-0  border-bottom border-1" style="max-width: 20rem;">
							<div class="row g-0 align-items-center justify-content-center">
								<div class="col-md-4 col-6">

									<img src="{{category.image.path}}" class='img-fluid' alt="">
								</div>
								<div class="col-md-8 col-6 ">
									<div class="card-body">
										<h5 class="card-title text-primary">
											{{ category.name }}
										</h5>
									</div>
								</div>
							</div>
						</div>
					</a>

				{% endif %}

			{% endfor %}
		</div>
	</div>
{% endblock %}
