{% extends 'base.html.twig' %}

{% block title %}
	{{product.name}}
{% endblock %}

{% block body %}
	<link
	rel="stylesheet" href="flashes.css">
	<!--- Breadcrumbs-->
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		<ol class="breadcrumb bg-light">
			<li class="breadcrumb-item">
				<a href='{{ path('home') }}'>
					Accueil
				</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{path('category_index')}}">
					Categories
				</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{path('category_subcategories',{category : product.categoryId.childs.id})}}">
					{{product.categoryId.childs.name}}
				</a>
			</li>
			<li class="breadcrumb-item" aria-current='page'>
				<a href="{{path('product_category',{category : product.categoryId.id})}}">
					{{product.categoryId.name}}
				</a>
			</li>
			<li class="breadcrumb-item" aria-current='page'>
				{{product.name}}
			</li>
		</ol>
	</nav>

	<section class='container py-5 px-lg-5 my-5  align-items-center'>

		<div class="fixed-bottom   mr-3 mb-3 w-25" id="flash-messages">
			{% for message in app.flashes('success') %}
				<div class="alert alert-dismissible alert-success">
					<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
					{{ message }}
				</div>

			{% endfor %}
		</div>

		<div class='row'>
			<div class='col-md-6'>
				<img src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="dummy" class="car-img-top img-thumbnail img mb-5-md-0">
			</div>
			<div class='col-md-6'>
				<h1 class='display-5 fw-bolder'>
					{{product.name}}
				</h1>
				<h4 class='fs-5 mb-5'>
					{{product.price  | format_currency('EUR')}}
				</h4>
				<p class='lead'>
					{{product.description}}
				</p>


				{# Quantity Form #}

				{{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light form-group d-flex justify-content-between  '}}
				) }}
				<div class="input-group w-auto justify-content-end align-items-center">
					{{ form_label(form.quantity) }}
					<button type="button" class="btn btn-primary button-plus border rounded  icon-shape icon-sm mx-1" id="increment">
						+
					</button>
					{{ form_widget(form.quantity, {
						'type': 'number',
						'value': '0',
           			 'attr': {
               		 'class': 'form-control text-center  quantity-field border-0  w-25  ' ~ (form.quantity.vars.valid ? '' : 'is-invalid')
           					 }
       						 }) }}
					<button type="button" class="btn btn-primary button-minus border rounded icon-shape icon-sm mx-1 " id="decrement">
						-
					</button>
					<div class="invalid-feedback">
						{{ form_errors(form.quantity) }}
					</div>

					{{ form_widget(form.add, {'attr': {'class': ' btn btn-primary'}}
					) }}
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>

</section>
<script src="/js/qty.js"></script>
<script src="/js/flashes.js"></script>{% endblock %}
