{% extends 'base.html.twig' %}

{% block title %}
	Profil Utilisateur
{% endblock %}

{% block body %}

	<section class="container mt-4">

		{% for address in  app.user.addresses %}
			<div class="  justify-content-center align-items-center mt-4">
				<div class="card">
					<div class="card-body">
						<h4 class="card-title">
							{{address.houseNumber}}
						</h4>
						<h6 class="card-subtitle mb-2 text-muted">
							{{address.street}}
						</h6>
						<p class="card-text">
							{{address.zipcode}}
						</p>
						<p class="card-text">
							{{address.city}}
						</p>
						<a href="{{(path('address', { id: address.id}))}}" class="card-link">
							Edit Address
						</a>

					</div>
				</div>
			</div>


		{% endfor %}

		<div class="alert alert-dismissible alert-light  mt-2">

			<strong>
				Add your Delivery address.
			</strong>

			<div>
				{{form(form)}}
				</div>
			</div>

		</section>
		<script src='/js/apiCall.js'> 
	{% endblock %}
